@font-face {
  font-family: $karla;
  src: url("../../assets/fonts/Karla/Karla-Regular.ttf");
}

@font-face {
  font-family: $karla-medium;
  src: url("../../assets/fonts/Karla/Karla-Medium.ttf");
}

@font-face {
  font-family: $karla-bold;
  src: url("../../assets/fonts/Karla/Karla-Bold.ttf");
}

@font-face {
  font-family: $fsFont;
  src: url("../../assets/fonts/FS.Renaissance/FSRenaissance-Regular.ttf");
}