@font-face {
  font-family: "Karla-Regular";
  src: url("../../assets/fonts/Karla/Karla-Regular.ttf");
}
@font-face {
  font-family: "Karla-Medium";
  src: url("../../assets/fonts/Karla/Karla-Medium.ttf");
}
@font-face {
  font-family: "FSRenaissance-Regular";
  src: url("../../assets/fonts/FS.Renaissance/FSRenaissance-Regular.ttf");
}
input:focus-visible {
  outline: none;
}

.checkbox-container {
  position: relative;
  cursor: pointer;
}

.checkbox-container input[type=checkbox] {
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid #EAEAEA;
}

.checkbox-container input[type=checkbox]:checked ~ .checkmark::before {
  content: url("../images/tick.svg");
  display: block;
  text-align: center;
  line-height: 20px;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla-Regular";
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 50px;
  flex-wrap: wrap;
}
nav .navbar .navbar-items ul {
  display: flex;
  list-style-type: none;
  gap: 70px;
  flex-wrap: wrap;
}
nav .navbar .navbar-items ul li a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  transition: 0.6s;
}
nav .navbar .navbar-items ul li a:hover {
  border-bottom: 4px solid #9E1620;
  transition: 0.4s;
}
nav .navbar .navbar-right-items {
  display: flex;
  align-items: center;
}
nav .navbar .navbar-right-items span {
  padding-right: 69px;
  font-size: 22px;
}
nav .navbar .navbar-right-items .navbar-cart-icon {
  background-color: #9E1620;
  width: 80px;
  min-height: 80px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.page-background {
  background-color: #F8F7F2;
  margin-inline: 210px;
  padding: 87px 130px;
  margin-top: 116px;
}
.page-background .header-section-title {
  padding-bottom: 53px;
}
.page-background .header-section-title h1, .page-background .header-section-title h4 {
  color: #967F2F;
}
.page-background .header-section-title h1 {
  font-size: 80px;
  font-family: "FSRenaissance-Regular";
}
.page-background .header-section-title h4 {
  font-size: 28px;
  padding: 20px 0px;
  letter-spacing: 5.6px;
  font-weight: lighter;
}
.page-background .header-section-title h6 {
  font-size: 24px;
}
.page-background .header-section .header-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.page-background .header-section .header-container .header-column {
  flex: 1;
}
.page-background .header-section .header-container .header-column .header-card {
  display: flex;
  flex-direction: column;
}
.page-background .header-section .header-container .header-column .header-card .header-card-img {
  background-image: url("../images/header-image.png");
  min-height: 310px;
  max-width: 350px;
  background-repeat: no-repeat;
}
.page-background .header-section .header-container .header-column .header-card .header-card-img .header-bottom-cards {
  padding: 120px 24px 0px 24px !important;
}
.page-background .header-section .header-container .header-column .header-card .header-card-img .header-card-img-content {
  padding: 174px 24px 0px 24px;
}
.page-background .header-section .header-container .header-column .header-card .header-card-img .header-card-img-content .img-card-text {
  color: white;
}
.page-background .header-section .header-container .header-column .header-card .header-card-img .header-card-img-content .img-card-text p {
  font-size: 13px;
}
.page-background .header-section .header-container .header-column .header-card .header-card-img .header-card-img-content .img-card-text h2 {
  font-size: 45px;
}
.page-background .header-section .header-container .header-column .header-card .header-card-img .header-card-img-content .img-card-input {
  text-align: right;
  padding-right: 20px;
}
.page-background .header-section .header-container .header-column .header-card .header-card-img .header-card-img-content .img-card-input .header-checkbox {
  padding-right: 21px;
}
.page-background .header-section .header-container .header-column .header-card .header-card-content {
  max-width: 350px;
}
.page-background .header-section .header-container .header-column .header-card .header-card-content .pricing-content {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 37px 0px 23px 0px;
}
.page-background .header-section .header-container .header-column .header-card .header-card-content .pricing-content .pricing {
  font-size: 40px;
  color: black;
}
.page-background .header-section .header-container .header-column .header-card .header-card-content .bottom-content {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 24px;
}
.page-background .header-section .header-container .header-column .header-card .header-card-content .bottom-content .content-icon {
  width: 45px;
}
.page-background .quantity-section {
  padding-top: 140px;
}
.page-background .quantity-section .quantity-container {
  display: flex;
  flex-wrap: wrap;
  gap: 148px;
}
.page-background .quantity-section .quantity-container .quantity-column {
  max-width: 50%;
}
.page-background .quantity-section .quantity-container .quantity-column .quantity-left-content p {
  padding-top: 10px;
}
.page-background .quantity-section .quantity-container .quantity-column .quantity-left-content .quantity-counter-container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 90px;
}
.page-background .quantity-section .quantity-container .quantity-column .quantity-left-content .quantity-counter-container .quantity-counter {
  width: 159px;
  background: white;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 40px;
  font-size: 22px;
}
.page-background .quantity-section .quantity-container .quantity-column .quantity-left-content .quantity-counter-container .quantity-counter button {
  all: unset;
  cursor: pointer;
}
.page-background .quantity-section .quantity-container .quantity-column .quantity-right-content .quantity-select-form {
  display: flex;
  gap: 22px;
  margin-top: 14px;
  flex-wrap: wrap;
}
.page-background .quantity-section .quantity-container .quantity-column .quantity-right-content select {
  height: 60px;
  width: 268px;
  border: none;
  padding-inline: 20px;
  font-size: 20px;
}
.page-background .quantity-section .quantity-container .quantity-column .quantity-right-content input {
  height: 60px;
  width: 79px;
  border: none;
  padding-inline: 20px;
  font-size: 20px;
}
.page-background .quantity-section .quantity-container .quantity-column .add-allergie h2 {
  padding-top: 15px;
}

.schedule-section {
  padding-top: 73px;
}
.schedule-section .schedule-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.schedule-section .schedule-container .schedule {
  flex-basis: 35%;
}
.schedule-section .schedule-container .schedule .monthly-schedule, .schedule-section .schedule-container .schedule .schedule-form {
  margin-top: 19px;
}
.schedule-section .schedule-container .schedule .schedule-form {
  max-width: 338px;
  background: white;
  padding: 30px;
}
.schedule-section .schedule-container .schedule .schedule-form form {
  margin-top: 15px;
}
.schedule-section .schedule-container .schedule .schedule-form form .inside-form {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 9px;
}
.schedule-section .schedule-container .schedule .schedule-form form input {
  width: 50px;
  height: 50px;
}
.schedule-section .schedule-container .schedule .schedule-form form label {
  font-size: 22px;
}
.schedule-section .schedule-container .monthly-schedule .schedule-form-2 {
  max-width: 588px;
}
.schedule-section .schedule-container .monthly-schedule .schedule-form-2 form {
  display: flex;
  gap: 137px;
}

.workshop-section {
  padding-top: 103px;
  padding-bottom: 200px;
}
.workshop-section .workshop-title {
  padding-bottom: 29px;
}
.workshop-section .workshop-title h1 {
  font-size: 28px;
  letter-spacing: 5.4px;
  color: #967F2F;
}
.workshop-section .workshop-title h2 {
  font-size: 24px;
  padding-top: 25px;
}
.workshop-section .workshop-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.workshop-section .workshop-container .workshop {
  flex-basis: 23%;
}
.workshop-section .workshop-container .workshop .workshop-card .workshop-date {
  background: #9E1620;
  color: white;
}
.workshop-section .workshop-container .workshop .workshop-card .workshop-date p {
  font-size: 24px;
  padding: 10px 0px 10px 23px;
}
.workshop-section .workshop-container .workshop .workshop-card .workshop-card-body {
  background-color: white;
  padding: 10px 23px 10px 23px;
}
.workshop-section .workshop-container .workshop .workshop-card .workshop-card-body .main-content p {
  font-size: 12px;
}
.workshop-section .workshop-container .workshop .workshop-card .workshop-card-body .main-content h1 {
  font-size: 36px;
}
.workshop-section .workshop-container .workshop .workshop-card .workshop-card-body .bottom-content {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 21px 0px;
}
.workshop-section .workshop-container .workshop .workshop-card .workshop-card-body .bottom-content .workshop-check {
  padding-bottom: 20px;
}
.workshop-section .workshop-container .workshop .workshop-card .workshop-card-body .bottom-content .bottom-content-inside .bottom-content-item {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-bottom: 10px;
}
.workshop-section .workshop-container .workshop .workshop-card .workshop-card-body .bottom-content input {
  width: 50px;
  height: 50px;
}
.workshop-section .workshop-btn a {
  text-decoration: none;
  background: #9E1620;
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 425px;
  justify-content: center;
  padding: 20px;
  border-radius: 29px;
  font-size: 18px;
  color: white;
  text-align: right;
  margin: 80px 0 0 auto;
}

footer {
  margin-top: 88px;
  background-color: #F8F7F2;
  padding: 0px 210px;
}
footer .footer-contact {
  padding-top: 98px;
  font-size: 28px;
}
footer .footer-container {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-container .footer-items {
  flex-basis: 24%;
}
footer .footer-container .footer-items h1 {
  padding-bottom: 36px;
  padding-top: 73px;
}
footer .footer-container .footer-items ul {
  list-style-type: none;
}
footer .footer-container .footer-items ul li {
  padding-bottom: 14px;
}
footer .footer-container .footer-items ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
footer .footer-bottom-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 104px;
  gap: 12px;
}
footer .footer-bottom-container .footer-bottom-items {
  flex-basis: 23%;
}
footer .footer-bottom-container .footer-bottom-items div {
  font-size: 20px;
}
footer .footer-bottom-container .footer-bottom-items h2 {
  padding-bottom: 14px;
  font-size: 22px;
}
footer .footer-bottom-container .footer-bottom-items .footer-social-icons {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-size: 30px;
}
footer .footer-bottom-container .footer-bottom-items .footer-social-icons li a {
  color: black;
}
footer .bottom-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 66px;
  padding-top: 64px;
  font-size: 18px;
  padding-bottom: 51px;
}

.bbq-page-background {
  background-color: #F8F7F2;
  margin-inline: 210px;
  padding: 87px 30px;
  margin-top: 116px;
}
.bbq-page-background .bbq-header-section-title {
  padding-bottom: 53px;
  padding-left: 100px;
}
.bbq-page-background .bbq-header-section-title h1, .bbq-page-background .bbq-header-section-title h4 {
  color: #967F2F;
}
.bbq-page-background .bbq-header-section-title h1 {
  font-size: 80px;
  font-weight: lighter;
  font-family: "FSRenaissance-Regular";
}
.bbq-page-background .bbq-header-section-title h4 {
  font-size: 28px;
  padding: 20px 0px;
}
.bbq-page-background .bbq-header-section-title h6 {
  font-size: 24px;
}
.bbq-page-background .bbq-header-section .header-container {
  display: flex;
  flex-wrap: wrap;
}
.bbq-page-background .bbq-header-section .header-container .header-column {
  flex: 1;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card {
  display: flex;
  flex-direction: column;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-img {
  background-image: url("../images/header-image.png");
  min-height: 310px;
  width: 350px;
  background-repeat: no-repeat;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-img .header-bottom-cards {
  padding: 120px 24px 0px 24px !important;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-img .header-card-img-content {
  padding: 135px 24px 0px 24px;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-img .header-card-img-content .img-card-text {
  color: white;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-img .header-card-img-content .img-card-text p {
  font-size: 13px;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-img .header-card-img-content .img-card-text h2 {
  font-size: 45px;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-img .header-card-img-content .img-card-input {
  text-align: right;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-img .header-card-img-content .img-card-input input {
  width: 48px;
  height: 48px;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-content {
  max-width: 350px;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-content .pricing-content {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 37px 0px 23px 0px;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-content .pricing-content .pricing {
  font-size: 40px;
  color: black;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-content .bottom-content {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 24px;
}
.bbq-page-background .bbq-header-section .header-container .header-column .header-card .header-card-content .bottom-content .content-icon {
  width: 45px;
}
.bbq-page-background .bbq-inner-note {
  padding-top: 56px;
  padding-bottom: 80px;
}
.bbq-page-background .bbq-inner-note .note {
  max-width: 557px;
  border: 1px solid #967F2F;
  margin: auto;
}
.bbq-page-background .bbq-inner-note .note p {
  text-align: center;
  padding: 28px;
  font-size: 18px;
}
.bbq-page-background .bbq-inner-note .note p span {
  color: #9E1620;
  font-weight: bolder;
}
.bbq-page-background .side-spacing {
  padding-inline: 130px;
}
.bbq-page-background .side-spacing .bbq-quantity-section {
  padding-top: 140px;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column {
  flex: 46%;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-upper-content p {
  padding-top: 10px;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-upper-content .quantity-counter-container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 29px;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-upper-content .quantity-counter-container .quantity-counter {
  width: 159px;
  background: white;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 40px;
  font-size: 22px;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-upper-content .quantity-counter-container .quantity-counter button {
  all: unset;
  cursor: pointer;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-lower-content {
  padding-top: 54px;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-lower-content .quantity-select-form {
  display: flex;
  gap: 22px;
  margin-top: 14px;
  flex-wrap: wrap;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-lower-content .quantity-select-form select:focus, .bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-lower-content .quantity-select-form input:focus {
  outline: none;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-lower-content .quantity-select-form select {
  height: 60px;
  width: 268px;
  border: none;
  padding-inline: 20px;
  font-size: 20px;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-lower-content .quantity-select-form input {
  height: 60px;
  width: 79px;
  border: none;
  padding-inline: 20px;
  font-size: 20px;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-schedule {
  position: relative;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-schedule .bbq-schedule-field {
  margin-bottom: 17px;
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-schedule .bbq-schedule-field img {
  position: absolute;
  left: 18px;
  transform: translateY(80%);
}
.bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-schedule .bbq-schedule-field input {
  padding-left: 60px;
  height: 60px;
  width: 100%;
  border: none;
  font-size: 20px;
}
.bbq-page-background .side-spacing .bbq-details-section {
  padding-top: 83px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column {
  flex: 46%;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column h2 {
  padding-bottom: 22px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-left-details form .inside-form {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 19px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-left-details form input[type=checkbox] {
  width: 50px;
  height: 50px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-left-details form label {
  font-size: 22px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-left-details form .form-details {
  padding-top: 19px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-left-details form .form-details input {
  height: 60px;
  width: 100%;
  border: none;
  padding-inline: 20px;
  font-size: 20px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-right-details form .inside-form {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 19px;
  font-size: 22px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-right-details form input[type=checkbox] {
  width: 50px;
  height: 50px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-right-details form .right-form-detail {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-right-details form .right-form-detail input {
  height: 60px;
  width: 100%;
  border: none;
  font-size: 20px;
  padding-inline: 20px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-right-details form .form-privacy-policy {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 62px;
  font-size: 14px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-right-details form .form-privacy-policy input {
  width: 30px;
  height: 30px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-right-details form .bbq-form-btn {
  max-width: 327px;
  margin: 52px 0px 0px 0px;
}
.bbq-page-background .side-spacing .bbq-details-section .bbq-details-container .bbq-details-column .bbq-right-details form .bbq-form-btn a {
  text-decoration: none;
  background: #9E1620;
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 425px;
  justify-content: center;
  padding: 20px;
  border-radius: 29px;
  font-size: 18px;
  color: white;
  text-align: right;
  margin: 80px 0 0 auto;
}

.checkout-page-background {
  margin: 116px 210px 158px 210px;
  background-color: #F8F7F2;
  padding: 87px 130px 93px 130px;
}
.checkout-page-background .checkout-header-section .checkout-header-title h1 {
  font-size: 80px;
  color: #967F2F;
  font-family: "FSRenaissance-Regular";
}
.checkout-page-background .checkout-header-section .checkout-header-title h4 {
  font-size: 28px;
  color: #967F2F;
  letter-spacing: 5.6px;
  padding-top: 38px;
  font-weight: lighter;
}
.checkout-page-background .checkout-header-section .checkout-header-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
}
.checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column {
  flex-basis: 45%;
}
.checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column p {
  color: #70706F;
}
.checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column .workshop-name {
  padding-top: 18px;
}
.checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column .workshop-name h2 {
  font-size: 22px;
}
.checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column .workshop-name h3 {
  font-size: 14px;
  color: #967F2F;
  font-weight: lighter;
}
.checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column .workshop-schedule {
  padding-top: 18px;
}
.checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column .workshop-schedule .each-schedule {
  display: flex;
  align-items: center;
  gap: 19px;
  padding-bottom: 15px;
  font-size: 22px;
}
.checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column .checkout-header-form {
  display: flex;
  gap: 122px;
  align-items: self-end;
}
.checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column .checkout-header-form .header-fields {
  display: flex;
  flex-direction: column;
  gap: 22px;
  color: #70706F;
}
.checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column .checkout-header-form .header-fields input {
  border: none;
  height: 60px;
  padding-inline: 15px;
  font-size: 22px;
}
.checkout-page-background .checkout-credentials {
  padding-top: 67px;
}
.checkout-page-background .checkout-credentials .credentials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column {
  flex-basis: 45%;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .title {
  font-size: 28px;
  letter-spacing: 5.6px;
  color: #967F2F;
  font-weight: lighter;
  padding-bottom: 28px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .credentials-fields {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .credentials-fields .credentials-checkbox {
  display: flex;
  align-items: center;
  gap: 25px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .credentials-fields .credentials-checkbox input {
  width: 50px;
  height: 50px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .credentials-fields input {
  height: 60px;
  border: none;
  padding-inline: 15px;
  font-size: 20px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .ideal {
  display: flex;
  align-items: center;
  gap: 20px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .ideal input[type=checkbox] {
  width: 50px;
  height: 50px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .select-bank form {
  display: flex;
  justify-content: flex-end;
  padding: 29px 0px 42px 0px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .select-bank form select {
  height: 60px;
  width: 427px;
  border: none;
  padding-inline: 20px;
  font-size: 20px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .term-condition div {
  display: flex;
  gap: 20px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .term-condition div input[type=checkbox] {
  width: 30px;
  height: 30px;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .credentials-btn a {
  text-decoration: none;
  background: #9E1620;
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 425px;
  justify-content: center;
  padding: 20px;
  border-radius: 29px;
  font-size: 18px;
  color: white;
  text-align: right;
  margin: 80px 0 0 auto;
}
.checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .credentials-btn a {
  max-width: 340px;
  background-color: #1DAA69;
  margin: 44px 0px 0px 0px;
}

@media only screen and (max-width: 1700px) {
  .page-background, .bbq-page-background, .checkout-page-background {
    margin-inline: 150px;
    padding: 87px 125px;
  }
}
@media only screen and (max-width: 1500px) {
  .page-background, .bbq-page-background, .checkout-page-background {
    margin-inline: 100px;
    padding: 87px 100px;
  }
}
@media only screen and (max-width: 1200px) {
  .page-background, .bbq-page-background, .checkout-page-background {
    margin-inline: 80px;
    padding: 87px 80px;
  }
}
@media only screen and (max-width: 1050px) {
  .page-background, .bbq-page-background, .checkout-page-background {
    margin-inline: 40px;
    padding: 87px 40px;
  }
}
@media only screen and (max-width: 768px) {
  .page-background, .bbq-page-background, .checkout-page-background {
    margin-inline: 15px;
    padding: 87px 40px;
  }
  .page-background .header-container, .bbq-page-background .header-container, .checkout-page-background .header-container {
    gap: 20px;
  }
  .page-background .header-container .header-card-img, .bbq-page-background .header-container .header-card-img, .checkout-page-background .header-container .header-card-img {
    max-width: 310px;
  }
  .page-background .quantity-section, .bbq-page-background .quantity-section, .checkout-page-background .quantity-section {
    padding-top: 40px;
  }
  .page-background .quantity-section .quantity-container, .bbq-page-background .quantity-section .quantity-container, .checkout-page-background .quantity-section .quantity-container {
    gap: 40px;
    justify-content: center;
  }
  .page-background .quantity-section .quantity-container .quantity-column, .bbq-page-background .quantity-section .quantity-container .quantity-column, .checkout-page-background .quantity-section .quantity-container .quantity-column {
    max-width: 100%;
  }
  .page-background .quantity-section .quantity-container .quantity-column .quantity-left-content .quantity-counter-container, .bbq-page-background .quantity-section .quantity-container .quantity-column .quantity-left-content .quantity-counter-container, .checkout-page-background .quantity-section .quantity-container .quantity-column .quantity-left-content .quantity-counter-container {
    padding-top: 40px;
    justify-content: center;
  }
  .page-background .schedule-section .schedule-container, .bbq-page-background .schedule-section .schedule-container, .checkout-page-background .schedule-section .schedule-container {
    gap: 40px;
  }
  .page-background .schedule-section .schedule-container .schedule, .bbq-page-background .schedule-section .schedule-container .schedule, .checkout-page-background .schedule-section .schedule-container .schedule {
    flex-basis: 100%;
  }
  .page-background .schedule-section .schedule-container .schedule .schedule-form, .bbq-page-background .schedule-section .schedule-container .schedule .schedule-form, .checkout-page-background .schedule-section .schedule-container .schedule .schedule-form {
    max-width: 100%;
  }
  .page-background .schedule-section .schedule-container .schedule .schedule-form form .inside-form, .bbq-page-background .schedule-section .schedule-container .schedule .schedule-form form .inside-form, .checkout-page-background .schedule-section .schedule-container .schedule .schedule-form form .inside-form {
    gap: 25px;
  }
  .page-background .schedule-section .schedule-container .monthly-schedule .schedule-form-2 form, .bbq-page-background .schedule-section .schedule-container .monthly-schedule .schedule-form-2 form, .checkout-page-background .schedule-section .schedule-container .monthly-schedule .schedule-form-2 form {
    gap: 120px;
    flex-wrap: wrap;
  }
  .page-background .workshop-section .workshop-container .workshop, .bbq-page-background .workshop-section .workshop-container .workshop, .checkout-page-background .workshop-section .workshop-container .workshop {
    flex: 1;
  }
  .page-background .bbq-header-section-title, .bbq-page-background .bbq-header-section-title, .checkout-page-background .bbq-header-section-title {
    padding: 0;
  }
  .page-background .bbq-header-section-title h1, .bbq-page-background .bbq-header-section-title h1, .checkout-page-background .bbq-header-section-title h1 {
    font-size: 65px;
  }
  .page-background .bbq-header-section-title h4, .bbq-page-background .bbq-header-section-title h4, .checkout-page-background .bbq-header-section-title h4 {
    letter-spacing: 5.6px;
    font-weight: lighter;
  }
  .page-background .bbq-header-section-title h6, .bbq-page-background .bbq-header-section-title h6, .checkout-page-background .bbq-header-section-title h6 {
    padding-bottom: 20px;
  }
  .page-background .side-spacing, .bbq-page-background .side-spacing, .checkout-page-background .side-spacing {
    padding-inline: 50px;
  }
  .page-background .side-spacing .bbq-quantity-section, .bbq-page-background .side-spacing .bbq-quantity-section, .checkout-page-background .side-spacing .bbq-quantity-section {
    padding: 0;
  }
  .page-background .checkout-header-section .checkout-header-title h1, .bbq-page-background .checkout-header-section .checkout-header-title h1, .checkout-page-background .checkout-header-section .checkout-header-title h1 {
    font-size: 70px;
  }
  .page-background .checkout-header-section .checkout-header-container .checkout-header-column, .bbq-page-background .checkout-header-section .checkout-header-container .checkout-header-column, .checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column {
    flex-basis: 100%;
  }
  .page-background .checkout-header-section .checkout-header-container .checkout-header-column .checkout-header-form, .bbq-page-background .checkout-header-section .checkout-header-container .checkout-header-column .checkout-header-form, .checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column .checkout-header-form {
    flex-wrap: wrap;
  }
  .page-background .checkout-credentials .credentials-container .credentials-column, .bbq-page-background .checkout-credentials .credentials-container .credentials-column, .checkout-page-background .checkout-credentials .credentials-container .credentials-column {
    flex-basis: 100%;
  }
  .page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .title, .bbq-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .title, .checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .title {
    padding-top: 28px;
  }
  .page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .select-bank form, .bbq-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .select-bank form, .checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .select-bank form {
    justify-content: left;
  }
  .page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .select-bank form select, .bbq-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .select-bank form select, .checkout-page-background .checkout-credentials .credentials-container .credentials-column .right-credentials .select-bank form select {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .page-background, .bbq-page-background, .checkout-page-background {
    margin: 0px;
    padding: 15px;
  }
  .page-background .schedule-section .schedule-container .monthly-schedule .schedule-form-2 form, .bbq-page-background .schedule-section .schedule-container .monthly-schedule .schedule-form-2 form, .checkout-page-background .schedule-section .schedule-container .monthly-schedule .schedule-form-2 form {
    gap: 5px;
  }
  .page-background .bbq-header-section .bbq-header-section-title, .bbq-page-background .bbq-header-section .bbq-header-section-title, .checkout-page-background .bbq-header-section .bbq-header-section-title {
    text-align: center;
  }
  .page-background .bbq-header-section .bbq-header-section-title h1, .bbq-page-background .bbq-header-section .bbq-header-section-title h1, .checkout-page-background .bbq-header-section .bbq-header-section-title h1 {
    font-size: 55px;
    word-break: break-word;
  }
  .page-background .bbq-header-section .bbq-header-section-title h4, .bbq-page-background .bbq-header-section .bbq-header-section-title h4, .checkout-page-background .bbq-header-section .bbq-header-section-title h4 {
    letter-spacing: 5.6px;
    font-weight: lighter;
  }
  .page-background .bbq-header-section .bbq-header-section-title h6, .bbq-page-background .bbq-header-section .bbq-header-section-title h6, .checkout-page-background .bbq-header-section .bbq-header-section-title h6 {
    padding-bottom: 20px;
  }
  .page-background .bbq-header-section .header-container .header-column .header-card, .bbq-page-background .bbq-header-section .header-container .header-column .header-card, .checkout-page-background .bbq-header-section .header-container .header-column .header-card {
    align-items: center;
  }
  .page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-lower-content .quantity-select-form, .bbq-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-lower-content .quantity-select-form, .checkout-page-background .side-spacing .bbq-quantity-section .bbq-quantity-container .bbq-quantity-column .bbq-quantity-lower-content .quantity-select-form {
    flex-wrap: wrap;
  }
  .page-background .checkout-header-section .checkout-header-title, .bbq-page-background .checkout-header-section .checkout-header-title, .checkout-page-background .checkout-header-section .checkout-header-title {
    text-align: center;
  }
  .page-background .checkout-header-section .checkout-header-title h1, .bbq-page-background .checkout-header-section .checkout-header-title h1, .checkout-page-background .checkout-header-section .checkout-header-title h1 {
    font-size: 55px;
  }
  .page-background .checkout-header-section .checkout-header-title h4, .bbq-page-background .checkout-header-section .checkout-header-title h4, .checkout-page-background .checkout-header-section .checkout-header-title h4 {
    letter-spacing: 4px;
  }
  .page-background .checkout-header-section .checkout-header-container .checkout-header-column .checkout-header-form, .bbq-page-background .checkout-header-section .checkout-header-container .checkout-header-column .checkout-header-form, .checkout-page-background .checkout-header-section .checkout-header-container .checkout-header-column .checkout-header-form {
    flex-wrap: wrap;
    gap: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
